<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="styles/styles.css"> -->
  </head>
<body ng-app="NarrowItDownApp">
   <div class="container" ng-controller="NarrowItDownController as controller">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" ng-model="controller.filterText" placeholder="search term" class="form-control">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="controller.getMatchedMenuItems();">Narrow It Down For Me!</button>
    </div>

    <!-- Bonus loader (see Bonus section of the assignment) -->
    <!-- <items-loader-indicator></items-loader-indicator> -->

    <!-- found-items should be implemented as a component -->
    <!-- <found-items found-items="...." on-remove="...."></found-items> -->
    <div>
        <found-items header="Found Items : " in-items="controller.found" delete-item="controller.delete(index)">
        </found-items>
    </div>
  </div>

</body>
</html>
